@model GymBuddyWebApp.Domain.Cardio

<h2> Cardio Deleted</h2>

<p>@Model.Id</p>
<p>@Model.CardioType</p>
<p>@Model.Date</p>
<p>@Model.Distance</p>
<p>@Model.Person</p>
<p>@Model.PersonId</p>
<p>@Model.Time</p>


