@model GymBuddyWebApp.Domain.Person
@{
    ViewData["Title"] = "Title";
}
<p>Id: @Model.Id</p>
<p>Firstname: @Model.FirstName</p>
<p>Lastname: @Model.LastName</p>
<p>Age: @Model.Age</p>
<p>Height: @Model.Height</p>
<p>Weight: @Model.Weight</p>
<p></p>