@model GymBuddyWebApp.Domain.Person
<meta charset="utf-8" />
@{
    ViewData["Title"] = "Title";
}
<p>Id: @Model.Id</p>
<p>Firstname: @Model.FirstName</p>
<p>Lastname: @Model.LastName</p>
<p>Age: @Model.Age</p>
<p>Height: @Model.Height</p>
<p>Weight: @Model.Weight</p>

<ul>
    @if (Model.WeightExercises != null)
    {
        foreach (var exercise in Model.WeightExercises)
         {
             <p >Exercise</p>
             <p>------------------------</p>
             <p>Id: @exercise.Id</p>
             <p>Date: @exercise.Date</p>
             <p>Exercise type: @exercise.ExerciseType</p>
             <p>Reps: @exercise.Reps</p>
             <p>Sets: @exercise.Sets</p>
             <p>Weight: @exercise.Weight</p>
             <p>------------------------</p>
         }
    }
</ul>
<ul>
    @if(Model.CardioExercises != null)
    {
    foreach (var exercise in Model.CardioExercises)
    {
        <p>@exercise.Id</p>
        <p>@exercise.Date</p>
        <p>@exercise.CardioType</p>
        <p>@exercise.Distance</p>
        <p>@exercise.Time</p>
        <p>------------------------</p>
    }
    }
</ul>