@model GymBuddyWebApp.Domain.Person
<meta charset="utf-8" />
@{
    ViewData["Title"] = "Title";
}
<div class="col-sm-3 col-lg-3 col-md-3">
<div class="thumbnail" id="thumbnail">
    <p><span>Id: @Model.Id</span></p>
    <p><span>Firstname: @Model.FirstName</span></p>
    <p><span>Lastname: @Model.LastName</span></p>
    <p><span>Age: @Model.Age</span></p>
    <p><span>Height: @Model.Height</span></p>
    <p><span>Weight: @Model.Weight</span></p>
</div>
    </div>

        @if (Model.WeightExercises != null)
        {
            foreach (var exercise in Model.WeightExercises)
            {
                <div class="col-sm-2 col-lg-2 col-md-2">
                    <div class="thumbnail" id="thumbnail">
                        <p><span>Exercise</span></p>

                        <p>Id: @exercise.Id</p>
                        <p>Date: @exercise.Date</p>
                        <p>Exercise type: @exercise.ExerciseType</p>
                        <p>Reps: @exercise.Reps</p>
                        <p>Sets: @exercise.Sets</p>
                        <p>Weight: @exercise.Weight</p> 
                    </div>
                </div>
            }
        }

        @if (Model.CardioExercises != null)
        {
            foreach (var exercise in Model.CardioExercises)
            {
                <div class="col-sm-2 col-lg-2 col-md-2">
                    <div class="thumbnail" id="thumbnail">
                        <p><span>Exercise</span></p>
                        <p>@exercise.Id</p>
                        <p>@exercise.Date</p>
                        <p>@exercise.CardioType</p>
                        <p>@exercise.Distance</p>
                        <p>@exercise.Time </p>

                    </div>
                </div>
            }
        }
