@model GymBuddyWebApp.Domain.Weights

<meta charset="utf-8" />
@{
    ViewData["Title"] = "Title";
}
<p>Id: @Model.Id</p>
<p>Excercise type: @Model.ExerciseType</p>
<p>Date: @Model.Date</p>
<p>Reps: @Model.Reps</p>
<p>Sets: @Model.Sets</p>
<p>Weight: @Model.Weight</p>
<p>Person Id: @Model.PersonId</p>


