@model GymBuddyWebApp.Domain.Weights
@{
    ViewData["Title"] = "GymSessionDeleted";
}

<h2>GymSessionDeleted</h2>
<p>@Model.Id</p>
<p>@Model.ExerciseType</p>
<p>@Model.Date</p>
<p>@Model.Reps</p>
<p>@Model.Sets</p>
<p>@Model.Weight</p>
<p>@Model.Person</p>
<p>@Model.PersonId</p>
