@model GymBuddyWebApp.Domain.Weights

<h3>Workout saved!</h3>

<b>Exercise: </b>
<p>@Model.ExerciseType</p>
<b>Reps:</b>
<p>@Model.Reps</p>
<b>Sets:</b>
<p>@Model.Sets</p>
<b>Weight:</b>
<p>@Model.Weight</p>
<b>Date:</b>
<p>@Model.Date</p>